html, body {
  margin:0;
  padding:0;
  background-color: hsl(0, 0%, 95%);
}

.attribution {   font-family: "Lexend Deca", serif;font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.container{
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow:hidden;
  height:95vh;
}
.box{ 
  width: 14em;
  padding: 3em;
}
.box:first-child{
  border-radius: 1em 0 0 1em;
}
.box:last-child{
  border-radius: 0  1em 1em 0;
}
p{
  font-family: "Lexend Deca", serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}
.box > h1{
  font-family: "Big Shoulders Display", serif;
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
}
.sedans{
  --color-1: hsl(31, 77%, 52%);
  background-color: var(--color-1);
}

.suvs{
  --color-2: hsl(184, 100%, 22%);
  background-color: var(--color-2);
}
.luxury{
  --color-3: hsl(179, 100%, 13%);
  background-color: var(--color-3);
}
.btn-round{
  font-family: "Lexend Deca", serif;
  margin: 4em 0 1.5em 0;
  font-weight: 500; 
  padding: 1em 2em;
  text-align: center;
  border-radius: 2em;
  border: 1px solid  hsl(0, 0%, 95%) ;
}

.sedans >.btn-round{
  color: var(--color-1);
}
.suvs >.btn-round{
  color: var(--color-2);
}
.luxury >.btn-round{
  color: var(--color-3);
}
.btn-round:hover{
  background-color: transparent;
  color: hsl(0, 0%, 95%) ;;
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .container {
    flex-direction: column;
    height:auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .box:first-child{
    border-radius: 1em 1em 0 0;
  }
  .box:last-child{
    border-radius: 0  0 1em 1em;
  }
}